<div class='card-container  green flex flex-space flex-center separator'>
    <h1 class="simple-title">Bienvenido {{user}}</h1>
    <form action="/user/logout" method="POST">
        <button type="submit" class="btn btn-warning"> Deslogear</button>
    </form>
</div>