doctype html
head
  title Mis productos
  link(rel='stylesheet' type='text/css' href='/styles/style.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
.container
    h1.main-title Vista de productos 
    if productos.length
        table.table.table-bordered.tabla-productos
            tr
                th Nombre
                th Precio
                th Foto
            each producto in productos
                <tr>
                    td.vertical-middle= producto.title
                    td.vertical-middle= producto.price
                    td.vertical-middle
                        img.img-responsive.icons-custom(src=producto.thumbnail alt='Imagen no encontrada')
    else
        p.bg-warning.sin-productos  No se encontraron productos

